@import "../../styles.scss";
.main-container{
    width: 100vw;
    display: flex;
}
.side-menu{
    width: 200px;
    height: calc(100vh - 80px);
    border-top-color:$orange;
    border-right-color:$orange;
    background-color:$bg-color;
    border-style: solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.auth-container{
    width: 90vw;
    // background-image:linear-gradient(to right,$orange,$bg-color);
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    width:400px;
    border-style: solid;
    // height: 1000px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:$bg-color;
    padding-top: 20px;
    padding-bottom: 20px;
}

input{
    margin-top: 20px;
    width: 300px;
    background-color:$text-color;
    height: 40px ;
    border-radius: 5px;
    padding-left:10px;
}


h1{
    color:$orange;
}
.icon-container{
    position: relative;
    top: -35px;
    right: -130px;
}
.icon-eye{
    cursor: pointer;
    color:$orange;
    font-size: 20px;
}


@media (max-width:576px){
    .side-menu{
        display: none;
    }
    .main-container{
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .auth-container{
        width: 90vw;
    }
}

// @media (max-width:768px) {
//     .side-menu{
//         display: none;
//     }
//     .auth-container{
//         width: 100vw;
//     }
// }