<div class="contact-container" >
    <div class="container" >
        <div class="row" >
            <div class="d-flex flex-column align-items-center">
                <h4>
                    Contact Us
                </h4>
                <img src="../../assets/underline.webp" style="width: 300px;" />
            </div>
            <p>
                We would love to hear from you! Whether you have questions about our cotton fabrics, need assistance with an order, or want to learn more about our production process, feel free to get in touch.
            </p>
            <div class="d-flex flex-column align-items-center">
                <h4>
                    Address
                </h4>
                <img src="../../assets/underline.webp" style="width: 300px;" />
            </div>
            <p>
                2-41,west street sathravada, nagari mandal,chitttor,Andhra pradesh,517-512.
            </p>
            <p>
                <strong>
                    Phone:
                </strong>
                8074178839
            </p>
            <p>
                <strong>
                    Mail
                </strong>
                {{mail}}
            </p>
        </div>
    </div>
</div>