<div class="products-container" >
    <div class="d-flex flex-column align-items-center">
        <h1>
            Our Products
        </h1>
        <img src="../../assets/underline.webp" style="width: 300px;" />
    </div>
    <div class="container d-flex justify-content-center flex-column align-items-center" style="padding-top: 20px;" >
        <div class="row image-text col-10 col-md-12 d-flex justify-content-center flex-column align-items-center" *ngFor="let val of productsList"  >
            <!-- <div class="col-10 col-md-12"> -->
            <img src={{val.url}} class="col-10 col-md-3 " />
            <p class="col-10 col-md-9">
                {{val.text}}
            </p>
            <!-- </div> -->
        </div>
    </div>
</div>