@import "../../styles.scss";


.products-container{
    margin-top: 20px;
    width: 100vw;
    overflow-x: hidden;
}

.image-text{
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px gray;
    padding-top: 10px;
    padding-bottom: 10px;
}